{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-6">
            <div class="text-center h2">Forms List</div>
            <ul class="list-group">
                {% for form in listForms %}
                    <li class="list-group-item">
                        <h3>
                            <a href="{{ path('use_form', {'id': form.id}) }}">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                {{ form.title }}                    
                            </a>
                            <a href="{{ path('build_form', {'id': form.id}) }}">
                                <i class="glyphicon glyphicon-pencil"></i>                   
                            </a>
                            <a href="{{ path('view_list_data', {'id': form.id}) }}">
                                <i class="glyphicon glyphicon-th-list"></i>                   
                            </a>                                          
                        </h3>
                    </li>
                {% endfor %}
            </ul>

        </div>

        <div class="col-md-6">
            <div class="h2">Actions</div>
            <p>
                <a href="{{ path('create_form') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    New Form
                </a>
            </p>
            <p>
                <a href="{{ path('add_item') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    New Item
                </a>
            </p>
        </div>

    </div>

{% endblock %}